.wrapper {
  margin: 50px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 20px;
}

.subscription {
  display: flex;
  align-items: center;
}

.base {
  width: 300px;
  padding-right: 20px;
}

.subscribe-btn {
  height: 40px;
  margin-top: -20px;
}
