<section *ngIf="authService.isLoggedIn()" class="wrapper">
  <section class="subscription">
    <mat-form-field class="base">
      <input type="text"
             placeholder="Symbol"
             matInput
             [value]="''"
             [formControl]="instrumentControl"
             [matAutocomplete]="baseAutocomplete">
      <mat-autocomplete #baseAutocomplete="matAutocomplete">
        <div *ngFor="let option of (instrumentList$ | async)">
          <mat-option [value]="option.name">{{option.name}}</mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary"
            class="subscribe-btn"
            [disabled]="!instrumentControl.valid"
            (click)="subscribeForInstrument()">
      Subscribe
    </button>
  </section>

  <app-real-time-data [currentInstrument]="currentInstrument" [realtimeData$]="realtimeData$"></app-real-time-data>
  <app-chart-data [chartData]="transformedChartData"></app-chart-data>

</section>
