<section class="wrapper">
  <section class="subscription">
    <mat-form-field class="base">
      <input type="text"
             placeholder="Base"
             matInput
             [formControl]="baseControl"
             [matAutocomplete]="baseAutocomplete">
      <mat-autocomplete #baseAutocomplete="matAutocomplete">
        <div *ngFor="let option of (filteredBaseOptions$ | async)">
          <mat-option [value]="option">{{option}}</mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>
    <p class="divider">/</p>
    <mat-form-field class="quote">
      <input type="text"
             placeholder="Quote"
             matInput
             [formControl]="quoteControl"
             [matAutocomplete]="quoteAutocomplete">
      <mat-autocomplete #quoteAutocomplete="matAutocomplete">
        <div *ngFor="let option of (filteredQuoteOptions$ | async)">
          <mat-option [value]="option">{{option}}</mat-option>
        </div>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-flat-button color="primary"
            class="subscribe-btn"
            [disabled]="!baseControl.valid || !quoteControl.valid"
            (click)="subscribeAsset()">
      Subscribe
    </button>
  </section>

  <app-real-time-data [currentAssets]="currentAssets" [realtimeData$]="realtimeData$"></app-real-time-data>

  <app-chart-data [transformedChartData]="transformedChartData"></app-chart-data>

</section>
