.wrapper {
  margin: 50px;
  padding: 50px;
  border: 2px solid black;
  border-radius: 20px;
}

.subscription {
  display: flex;
  align-items: center;
}

.divider {
  font-size: 30px;
  font-weight: 400;
}

.base, .quote {
  width: 100px;
  padding-right: 20px;
}

.quote {
  padding-left: 20px;
}

.subscribe-btn {
  height: 40px;
  margin-top: -20px;
}
